@tailwind base;
@tailwind components;
@tailwind utilities;

.nextjs-toast-errors-parent {
    display: none;
    background-color: #10d6f5;
}

h1 {
	font-family: 'Times New Roman', Times, serif;
}

.content ol{
	list-style: none;
	height: 4.1rem;
	line-height: 4.1rem;
	overflow: hidden;
}

body{
	position: relative;
}

@keyframes slide-up {
	0% {
		transform: translateY(0);
	}
	15%, 25% {
		transform: translateY(-100%);
	}
	30%, 45% {
		transform: translateY(-200%);
	}
	50%, 65% {
		transform: translateY(-300%);
	}
	70%, 85% {
		transform: translateY(-400%);
	}
}


@keyframes infinite-scroll {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-100%);
	}
}

.infinite-scroll {
	animation: infinite-scroll 20s linear infinite;
}

.content ol li{
	animation: slide-up 8s infinite;
}

.content ol li span{
	font-weight: 600;
	white-space: nowrap;
}

.accordion-main  {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
}

.accordion {
    margin: 30px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.accordion__item {
    width: 40%;
    max-height: 25px;
    padding: 17px 10px;
    border-bottom: 1px solid #c9c9c9;
    color: #fff;
    overflow: hidden;
    cursor: pointer;
}

.accordion__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.accordion__header h4 {
    transition: 0.2s ease-in-out;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
}

.accordion__header i {
    transition: 0.2s ease-in-out;
    transform-origin: center;
    margin-bottom: 10px;
}

.accordion__header:hover h4 {
    color: #10d6f5!important;
}

.accordion__header:hover i {
    color: #10d6f5;
}

.accordion__content {
    margin: 5px;
}

@media (max-width:600px) {
    .accordion__item {
        width: 80%;
    }

    .content ol{
        height: 3rem;
        line-height:3rem;
    }
}
